body {
background-image: url("qbkls.png")
}

.menu {
background-color: #606060;
}

.navbar-brand {
color:white;
font-size: 45x;
font-family: 'Almendra Display', cursive;
font-weight: bolder;
}

.nav-link {
color: white;
font-family: 'Barlow', sans-serif;
font-size: 20px;
}


ul {
list-style-type: none;
}


hr {
height: 3px;
background-color: #ccc;
border: none;
width: 100%;
}

.indexbox {
background-color:#F8F8F8;
width: 850px;
padding: 30px;
border: 1px solid  #ccc;
margin: 50px;
text-align: left;

}

#myimg {
width: 100%;

}

footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #606060;
color: white;
text-align: center;
font-size: 15px;
font-family: 'Barlow', sans-serif;
}

#aboutme {
font-family: 'Barlow', sans-serif;
font-style: italic;
}

p {
font-family: 'Roboto', sans-serif;
color: #181818;
}


#Horiseon {
width: 260px;
height: 230px;
}


.text-block {
position: absolute;
bottom: 10px;
padding-right: 10px;
padding-left: 10px;
margin: 5px;
background-color: #A8A8A8;
color: white;
font-family: 'Barlow', sans-serif;
}

footer p {
color: white;
}