.portfoliobox {
background-color:#F8F8F8;
width: 700px;
padding: 30px;
border: 1px solid  #ccc;
margin: 50px;
text-align: left;
}

#portfoliotitle {
font-family: 'Barlow', sans-serif;
font-style: italic;
}

hr {
height: 3px;
background-color: #ccc;
border: none;
width: 100%;
}


#portfolioimg {
width: 265px;
height: 210px;
}

.text-block {
font-weight: bold;
background-color: #606060;
}

@media only screen and (min-width: 640px) and (max-width: 980px) {
#portfoliobox { width: 100%;}
}


@media only screen and (min-width: 640px) and (max-width: 980px) {
#portfolioimg { width: 100%;}
}
                